.row
{
	display: flex;
	flex-direction: row;
	text-align: left;
}
.one
{
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 6px;
}
.two
{
	display: flex;
	flex-direction: column;
	width: 50%;
	padding: 6px;
}
.four
{
	display: flex;
	flex-direction: column;
	width: 25%;
	padding: 3px;
}
.five
{
	display: flex;
	flex-direction: column;
	width: 20%;
	padding: 6px;
}